.App {
  background-color:#ff6600;
  min-height: 100vh;
}

.App-intro {
  font-size: large;
}

.Center{
  margin-left: 45%;
}

.Row{
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
